:root {
  --md-primary-fg-color: #0d1117;
  --md-accent-fg-color: #00d1da;
}

.md-header,
.md-tabs {
  background-color: #0d1117;
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 700;
}

.md-typeset a {
  color: #0077cc;
}

.md-typeset a:hover {
  color: #00a7b5;
}

.md-typeset table:not([class]) th {
  background-color: #0d1117;
  color: #ffffff;
}

.md-typeset code {
  border-radius: 4px;
}

.md-typeset .admonition,
.md-typeset details {
  border-radius: 8px;
}
